<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd
       	http://www.springframework.org/schema/cache
       	http://www.springframework.org/schema/cache/spring-cache.xsd ">

    <!--  开启AOP切面代理-->
    <aop:aspectj-autoproxy proxy-target-class="true" />

    <!--   +++++++以下为缓存配置+++++++  -->
    <!-- 进行EhCache缓存配置 -->
    <bean id="cacheManagerFactory"	class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation">
            <value>classpath:ehcache.xml</value>
        </property>
        <!-- 由于其框架也使用了Ehcache, 保证各方都使用同一个缓存管理器 -->
        <property name="shared" value="true" />
    </bean>
    <bean id="ehCacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
        <property name="cacheManager" ref="cacheManagerFactory"/>
    </bean>
    <!-- EhCache缓存配置完成 -->

    <bean id="cacheManager" class="org.springframework.cache.support.CompositeCacheManager">
        <property name="cacheManagers">
            <list>
                <ref bean="ehCacheManager" />
            </list>
        </property>
        <property name="fallbackToNoOpCache" value="true" />
    </bean>
    <!-- 开启注解缓存支持 -->
    <cache:annotation-driven cache-manager="cacheManager" />
    <!--   +++++++缓存配置完成+++++++  -->

</beans>